@use '@angular/material' as mat;

.toolbar {
   position: sticky; 
   top: 0; 
   z-index: 1000; 
}

.product-list-card {
  margin: 16px;
  display: block;
  /* Just an example to constrain the maximum width; remove or adjust as needed */
  //max-width: 1000px;
}

.actions {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end; /* Right-align the button */
}

table {
  width: 100%;
  margin-bottom: 16px;
}

.mat-header-cell,
.mat-cell {
  padding: 8px;
}

.mat-paginator {
  /* Add some top spacing so it doesn’t butt up directly against the table */
  margin-top: 8px;
}
