@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme(( color: mat.$chartreuse-palette, typography: Roboto, density: 0 ));
}

.error-snackbar {
  background-color: #f44336 !important; /* Red color for errors */
  color: white;
}
